:root {
    --bg: #0b0f14;
    --panel: #0f1620;
    --card: #101924;
    --ink: #eef1f5;
    --muted: #9aa4b2;
    --stroke: rgba(255,255,255,.08);
    --brand: #ffffff;
    --ring: #2b96ff;
}

.content{
    padding-top: 0px !important;
}

.main-layout{
    height:100%;

}

.main-content {
    height: 100%;
}
