@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="main-layout">
    @if (!Navigation.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
    {
        <NavMenu />
    }

    <div class="main-content">
        @Body
    </div>
</div>

@code {
    bool _menuOpen;
    void ToggleMenu() => _menuOpen = !_menuOpen;


}
