<div class="nav-bar-custom">
    <div class="container-nav">
        <div></div>
        <div class="brand">BRAVUS</div>
        <div></div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
